@font-face{
    src: url(../fonts/lora.ttf);
    font-family: lora;
}
@font-face{
    src: url(../fonts/benne.tff);
    font-family: benne;
}
/**skip to content**/

.skip {
    background-color: rgb(255, 255, 255);
    border: 2px solid #408361;
    padding: 2px;
    position: absolute;  /*out of page flow for layout*/
    left: -999px;
}
.skip:focus {
    left: 10px;
    top:30px;
}
/**home styling**/
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
   
}
.nav3 {
    display: flex;
    justify-content: space-between;
}
.home, .about, .line, .geometric, .redfig, .blackfig, .classical {
    padding: 6px;
    font-family: benne;
    padding-top: 10px;
}
.line{
    color: #408361;
}
p{
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
}
a {
    text-decoration: none;
    color: #408361;
    font-size: 16px
}
a:visited {
    color: #408361;
    text-decoration: none;
}
a:hover {
    color: #d9c3aa;
    text-decoration: none;
}
.expandlinks {
    font-size: 28px;
    color: #408361;
    font-family: benne;
}
.expandlinks:hover {
    text-decoration: underline;
}
h1 {
    font-family: benne;
}
h2 {
    font-family: benne;
    color: #d9c3aa;
}
h3 {
    font-family: benne;
}
h4 {
    font-family: benne;
}
.timelinewords {
    display: flex;
    margin: 10px;
}
.timelinewords1, .timelinewords2, .timelinewords3, .timelinewords4 {
    margin: 18px;
}
.firstsentance{
    font-size: 16px;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
}
.homepagetitle {
    font-size: 40px;
    font-family: benne;
    color: #000000;
    margin: 20px;
}
.homepagetitle1 {
    position: absolute;
    top: 200px;
    left: 36px;
    font-size: 60px;
    font-family: benne;
    color: #ffffff;
}
.firstsentance1 {
    position: absolute;
    top: 300px;
    left: 36px;
    font-size: 20px;
    font-family: benne;
    color: #ffffff;
    margin-right: 1200px;
}
#logo {height: 20px;}
.painthorse1 {height: 35px;}
.marblestrip {width: 100%;}
.marblestriwithwords {width: 100%;}
.timelineimage {width: 100%;}
.colorchange {background-color: white;}
.screenreadertext {color:white}

@media only screen and (max-width: 600px) {
                
    .timelinewords {flex-wrap: wrap;}
    .navigation { font-size: 6px;}
    .home, .about, .geoetric, .redfig, .blackfig, .classical {font-size: 6px;}
    .topleft1 {position: absolute; top: -1000px; left: -1000px;}
}
@media only screen and (min-width: 600px) {
    .topleft1, .homepagetitle1, .firstsentance1, {display: block;}
}

/**geometric period styling**/
.geometrictitle1, .geometrictitle2, .geometrictitle3 {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.vaseclassification {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: benne;
    font-size: 23px;
}
.amphora1 {height:550px;}
.geometricworks {
    margin: 30px;
}
.pyxisimage {height:550px;}
.bronzehorseimage {height:550}
.vaselineimage {
    display: block;
    margin-left: auto;
  margin-right: auto;
  height:250px;
}
.amphora, .krater, .oinochoe, .kylix, .kantharos, .lekythos {
    text-align: center;
}
.vasediagram {
    padding: 50px;
}
.tarracottakrater{
    display: flex;
}
.tarracottakraterimage {height:650px;}
.kraterdescription, .horsedescription {
    padding-left: 20px;
    margin-left: 20px;
}
.amphoraofdipylon {
    display: flex;
}
.bronzehorse{
    display:flex;
    padding-right: 20px;
}
.terracottapyxis {
    display:flex;
    padding-right: 20px;
    justify-content: right;
}

@media only screen and (max-width: 600px) {
    .geometrictitle3 {width: 80%;}
    .marblestriwithwords {display:none}
    .home, .about, .geometry, .redfig, .blackfig, .classical {size: 6px}
    .vaseclassification {display:block}
    .vaselineimage {width: 400px; height: 100%; }
    .geometricworks {width:400px; margin: auto}
    .tarracottakrater {display:block;} 
    .amphoraofdipylon, .terracottapyxis {display:block; margin-right:10px;}
    .kraterdescription, .horsedescription {margin-left:0px; padding: 0px;}
    .bronzehorse {display:block; margin-right:10px;}
    .g1, .g2, .g3, .g4, .g5 {width: 400px; height: 100%;} 
}
@media only screen and (min-width: 600px) {
    .marblestrip, .homepagetitle, .firstsentance { display:none}
    .kraterdescription, .horsedescription {margin-right:700px; padding: 0px;}
    .terracottapyxisdescription {margin-left: 650px; padding: 0px;}
}
/**Black Figure**/
.eleusisamphora {display: flex; margin: 80px;}
.eleusisamphoratext {margin-right: 100px; margin-left:20px;}
.eleusisamphoraimages {height: 550px;}

.ajaxachilles {display:flex; margin: 80px;}
.ajaxachillesimages {height: 550px;}

.dionysuscup {display: flex;  margin: 80px;}
.dionysuscuptext {margin-right: 600px; margin-left:20px;}
.dionysuscupimages {height: 550px;}

.achillespenthesilea {display: flex; margin: 80px;}
.achillespenthesileatext { margin-right: 20px; margin-left:600px}
.achillespenthesileaimages {height: 550px;}

.terracottadinos {display: flex;margin: 80px;}
.terracottadinostext {margin-right: 600px; margin-left:20px}
.terracottadinosimages {height: 550px;}

.kouros {display: flex; margin: 80px;}
.kourostext {margin-right: 40px; margin-left:600px;}
.kourosimages {height: 550px;}

.nikandre {display: flex;  margin: 80px;}
.nikandretext {margin-right: 600px; margin-left:20px;}
.nikandreimages {height: 550px;}

@media only screen and (max-width: 600px) {
    .eleusisamphora {display: block;}
    .eleusisamphoratext {margin-right:10px; margin-left:20px;}
    .eleusisamphoraimages {width:350px; height: 100%;}
    .ajaxachilles {display: block;}
    .ajaxachillesimages {width:350px; height: 100%;}
    .dionysuscup {display: block;}
    .dionysuscuptext {margin-right:10px; margin-left:20px;}
    .dionysuscupimages {width:350px; height: 100%;}
    .achillespenthesilea {display:block;}
    .achillespenthesileatext {margin-right:10px; margin-left:20px;}
    .achillespenthesileaimages {width:350px; height: 100%;}
    .terracottadinos{display:block;}
    .terracottadinosimages {width:350px; height: 100%;}
    .terracottadinostext{margin-right:10px; margin-left:20px;}
    .kouros{display:block;}
    .kourostext {margin-right:10px; margin-left:20px;}
    .kourosimages{width:350px; height: 100%;}
    .nikandre {display:block;}
    .nikandretext {margin-right:10px; margin-left:20px;}
    .nikandreimages{width:350px; height: 100%;}

}


/**Red Figure**/
@media only screen and (min-width: 600px) {
.threerevelers {display: flex;  margin: 80px;}
.threerevelerstext {margin-right: 800px; margin-left:20px;}
.threerevelersimages {height:550px;}

.symposiumscene {display: flex;  margin: 80px;}
.symposiumscenetext {margin-right: 20px; margin-left:350px;}
.symposiumsceneimages {height: 550px;}

.sarpedonkrater {display: flex;  margin: 80px;}
.sarpedonkratertext {margin-right: 400px; margin-left:20px;}
.sarpedonkraterimages {height:550px;}

.kritiosboy {display: flex;  margin: 80px;}
.kritiosboytext {margin-right: 20px; margin-left:1000px;}
.kritiosboyimages {height: 550px;}

.riacewarrior {display: flex;  margin: 80px;}
.riacewarriortext {margin-right: 600px; margin-left:20px;}
.riacewarriorimages {height: 550px;}

.charioteerdelphi {display: flex;  margin: 80px;}
.charioteerdelphitext {margin-right: 20px; margin-left:800px;}
.charioteerdelphiimage {height: 550px;}
}
@media only screen and (max-width: 600px){
    .threerevelers {display:block;}
    .threerevelerstext {margin-right:10px; margin:50px;}
    .threerevelersimages {width:350px; height: 100%; margin-left: 60px;}
    .symposiumscene {display:block;}
    .symposiumscenetext {margin-right:10px; margin:50px;}
    .symposiumsceneimages {width:350px; height: 100%; margin-left: 60px;}
    .sarpedonkrater {display:block;}
    .sarpedonkratertext {margin-right:10px; margin:50px;}
    .sarpedonkraterimages {width:350px; height: 100%; margin-left: 60px;}
    .kritiosboy {display:block;}
    .kritiosboytext {margin-right:10px; margin:50px;}
    .kritiosboyimages {width:350px; height: 100%; margin-left: 60px;}
    .riacewarrior {display:block;}
    .riacewarriortext {margin-right:10px; margin:50px;}
    .riacewarriorimages {width:350px; height: 100%; margin-left: 60px;}
    .charioteerdelphi {display:block;}
    .charioteerdelphitext {margin-right:10px; margin:50px;}
    .charioteerdelphiimages {width:350px; height: 100%; margin-left: 60px;}
}


/**classical**/
.discobolis {display: flex;  margin: 80px; height:550px;}
.discobolistext{margin-right: 800px; margin-left:20px;
}
.doryphoros {display: flex;  margin: 80px;}
.doryphorostext {margin-right: 20px; margin-left:800px;}
.doryphorosimages {height:550px;}

.cretianbull {display: flex;  margin: 80px;}
.cretianbulltext{margin-right: 400px; margin-left:20px;}
.cretianbullimages {height:550px;}

.orders {display: flex;  margin: 80px;}
.orderstext{margin-right: 20px; margin-left:300px;}
.ordersimages {height:550px;}

.parthenon {display: flex;  margin: 80px; margin-bottom: 20px; margin-top: 20px;}
.parthenontext{margin-right: 0px; margin-left:20px;}
.parthenonimages {height:400px;}

.goldfinger {display: flex;  margin: 80px;}
.goldfingertext{margin-right: 20px; margin-left:600px;}
.goldfingerimages {height:550px;}

.hermes {display: flex;  margin: 80px;}
.hermestext{margin-right: 600px; margin-left:20px;}
.hermesimages {height:550px;}

.apollo {display: flex;  margin: 80px;}
.apollotext{margin-right: 20px; margin-left:800px;}
.apolloimages {height:550px;}

.knidia {display: flex;  margin: 80px;}
.knidiatext{margin-right: 800px; margin-left:20px;}
.knidiaimages {height:550px;}
@media only screen and (max-width: 600px) {
    .geometrictitle1 {margin-top: 40px;}
    .discobolis {display:block;}
    .discobolistext {margin-right:10px; margin:10px;}
    .discobolisimages {width:350px; height: 100%; margin-left: 0px;}
    .doryphoros {display:block;}
    .doryphorostext {margin-right:10px; margin:10px;}
    .doryphorosimages {width:350px; height: 100%; margin-left: 0px;}
    .cretianbull {display:block;}
    .cretianbulltext {margin-right:10px; margin:10px;}
    .cretianbullimages {width:350px; height: 100%; margin-left: 0px;}
    .orders {display:block;}
    .orderstext {margin-right:10px; margin:10px;}
    .ordersimages {width:350px; height: 100%; margin-left: 0px;}
    .parthenon {display:block;}
    .parthenontext {margin-right:10px; margin:10px;}
    .parthenonimages {width:350px; height: 100%; margin-left: 0px;}
    .goldfinger {display:block;}
    .goldfingertext {margin-right:10px; margin:10px;}
    .goldfingerimages {width:350px; height: 100%; margin-left: 0px;}
    .hermes {display:block;}
    .hermestext {margin-right:10px; margin:10px;}
    .hermesimages {width:350px; height: 100%; margin-left: 0px;}
    .apollo {display:block;}
    .apollotext {margin-right:10px; margin:10px;}
    .apolloimages {width:350px; height: 100%; margin-left: 0px;}
    .knidia {display:block;}
    .knidiatext {margin-right:10px; margin:10px;}
    .knidiaimages {width:350px; height: 100%; margin-left: 0px;}
}

/**about**/

.welcomebox {display:flex; margin: 80px;}
.section1 {margin-right: 200px;}
.section3 {text-align: center;}
.davidpromo {margin-bottom: 40px;}
.alexacropolis {height: 500px}

@media only screen and (max-width: 600px) {
.welcomebox {display:block; margin: 80px;}
.alexacropolis {width:350px; height: 100%; margin-left: 0px;}
.section1 {margin-right: 0px; margin-bottom: 50px;}
.davidvideo {height: 300px; width: 350px;}
}


/**@media only screen and (min-width: 600px) {
    .sectionone {display:flex; margin: 50px;}
    .thanks {margin-right: 400px;}
    .davidvideomessage {text-align: center;}
}
@media only screen and (max-width: 600px) {

    .welcomemessage {display: block; margin: 40px; }
    .alexacropolis {margin-left: 50px;}
    .sectionone {display:block; margin:0px;}
    .thanks {font-size: 20px; margin-right: 0px;}
    .alexacropolis {width:350px; height: 100%; margin-left: 0px;}
    .davidvideo {height: 300px; width: 350px;}
    .davidvideomessage {text-align: center; margin:10px;}

}**/


/**footer**/
.footer {
    text-align: center;
}
