@font-face{
    src: url(../fonts/lora.ttf);
    font-family: lora;
}
@font-face{
    src: url(../fonts/benne.tff);
    font-family: benne;
}
/**home styling**/
p{
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    color: #000000;
}
a {
    text-decoration: none;
    color: #408361;
    font-size: 16px
}
a:visited {
    color: #408361;
    text-decoration: none;
}
a:hover {
    color: #d9c3aa;
    text-decoration: none;
}
.expandlinks {
    font-size: 28px;
    color: #d9c3aa;
    font-family: benne;
}
.expandlinks:hover {
    text-decoration: underline;
}
div {
    padding: 4px;
}
h1 {
    font-family: benne;
}
h2 {
    font-family: benne;
    color: #d9c3aa;
}
h3 {
    font-family: benne;
}
h4 {
    font-family: benne;
}
.nav {
    display: flex;
    font-family: benne;
}
.homelinks {
    flex-basis: 35%;
    justify-content:space-between;
}
.home, .about {
    justify-content: space-evenly;
}
.line {
    margin-top: 6px;
    margin-left: 20px;
    flex-basis: 1%;
    justify-content: center;
    color: #7cac9c;
}
.sitecontent {
    flex-basis: 20%;
    justify-content:space-evenly;
}
.homelinks, .sitecontent {
    display: flex;
    font-family: benne;
}
.painthorse {
    justify-content: right;
    margin-left: 1100px;
}
.timelinewords {
    display: flex;
    margin: 40px;
}
.topleft {
    position: absolute;
    top: 275px;
    left: 30px;
}
.firstsentance{
    position: absolute;
    top: 380px;
    left: 35px;
    font-size: 16px;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}
.homepagetitle {
    font-size: 50px;
    font-family: benne;
    color: #ffffff;
}
/**geometric period styling**/
.geometrictitle1, .geometrictitle2, .geometrictitle3 {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}
.vaseclassification {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: benne;
    font-size: 23px;
}
.vaselineimage {
    display: block;
  margin-left: 110px;
  margin-right: auto;
  width: 85%;
}
.amphora, .krater, .oinochoe, .kylix, .kantharos, .lekythos {
    text-align: center;
}
.vasediagram {
    padding: 50px;
}
.tarracottakrater{
    display: flex;
    margin-right: 800px
}
.amphoraofdipylon {
    display: flex;
}
.bronzehorse{
    display:flex;
    margin-right: 700px
}
.terracottapyxis {
    display:flex;
    margin-left: 700px
}
/**Black FIgure**/
.eleusisamphora {float: left; margin-right: 10px;}
{margin-right: 100px}
.eleusisamphoratext {float: left; margin-left: 10px;}
.ajaxachilles {
    display:flex; 
}
.dionysuscup {
    display: flex;
}
.achillespenthesilea {
    display: flex;
}
.terracottadinos {
    display: flex;
}
.kouros {
    display: flex;
}
.nikandre {
    display: flex;
}
/**about**/
.welcomemessage {
    display: flex;
    margin: 20px;
    font-size: 30px;
    font-family: benne;
}
.welcomemessage1 {
    padding-right: 220px;
}
.welcomemessage2 {
    padding-left: 40px;
}
.davidvideomessage {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.lfm {
    font-size: 40px;
}
.greekingout {
    font-family: benne;
    font-size: 18px;
}
/**footer**/
.footer {
    text-align: center;
}